{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<br/><br/><br/><br/><br/><br/><br/><br/>
<h3>
  Mar7bee bikom fel <strong>Firma</strong> koll chy moujoud bio w naturel
</h3>
<h3>
  Bech tkallemna bech testafser 3la ayy haja hedha noumrou el Fix : 74 123 123
</h3>
<h3>
Idha keen t7eb tcontactyna bel mail hedheya l mail mte3na: Elfirma@gmail.com.tn 
</h3>
<h3>
  Idha keen t7ebbou tzourouna , a7na moujoudin  fi sfe9ess thneyyet gebès km 37 ba3d el kiosk al limin
</h3>
<h3>
  Ayy barra a3mlou doura fel site w nchllh te3jebkom el <strong>Firma</strong>
</h3>

{% endblock content %}

      